
  * {
    box-sizing: border-box;
  }
  #header {
    background: red;
  }
  
  .left-logo {
    float: left;
    display: flex;
    flex-wrap: wrap;
    margin-block: 0;
  justify-content: flex-end;
    position: fixed;

  }
  nav > ul {
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin-block: 0;
  justify-content: flex-end;
    margin-right: 2rem;
    width: 90%;
    position: fixed;
  }
  
  ul {
    list-style: none
  }
  
.about-me {
  text-align: center;
  padding: 40px;
  background: gray;
}
